<nav>
    <div>
      <a href="/"> <h1>Make Blogs</h1></a>
    </div>
    <ul> <a href="/"> Home</a> </ul>
    <ul> <a href="/read"> Read Blogs</a> </ul>
    <ul> <a href="/create"> Create Blogs</a> </ul>
</nav>